.yuanplayer-pinkflag-playlist {
  background-color: #3a2a45;
}
.jp-playlist ul {
  list-style-type: none;
  font-size: .7em;
  margin: 0 5px;
  padding: 0; }

.jp-video .jp-playlist ul {
  margin: 0 20px; }

.jp-playlist li {
  position: relative;
  padding: 2px 0;
  border-top: 1px solid #554461;
  border-bottom: 1px solid #180a1f;
  overflow: hidden; }

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */
div.jp-playlist li:first-child {
  border-top: none;
  padding-top: 3px; }

div.jp-playlist li:last-child {
  border-bottom: none;
  padding-bottom: 3px; }

div.jp-playlist a {
  color: #fff;
  text-decoration: none; }

div.jp-playlist a:hover {
  color: #e892e9; }

div.jp-playlist li.jp-playlist-current {
  background-color: #26102e;
  border-top: 1px solid #26102e;
  border-bottom: 1px solid #26102e; }

div.jp-playlist li.jp-playlist-current a {
  color: #e892e9; }

div.jp-playlist a.jp-playlist-item-remove {
  float: right;
  display: inline;
  text-align: right;
  margin-left: 10px;
  font-weight: bold;
  color: #8C7A99; }

div.jp-playlist a.jp-playlist-item-remove:hover {
  color: #E892E9; }

div.jp-playlist span.jp-free-media {
  float: right;
  display: inline;
  text-align: right;
  color: #8C7A99; }

div.jp-playlist span.jp-free-media a {
  color: #8C7A99; }

div.jp-playlist span.jp-free-media a:hover {
  color: #E892E9; }