<li>
  <div>
    <a href="javascript:;" class="jp-playlist-item-remove">×</a>
    <a href="javascript:;" class="jp-playlist-item" tabindex="0"><%= locals.track.title %> <span class="jp-artist"><%= locals.track.artist %></span></a>
  </div>
</li>