.yuanplayer-yuan-lyric {
  max-width: 500px;
  box-sizing: border-box;
  margin-top: 2em;
  text-align: center;
  height: 100px;
  overflow: hidden;
  padding-top: 50px;
  margin-left:  auto;
  margin-right: auto;
  position: relative;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #007db5, #ff8a00);

  div {
    margin-bottom: 5px;
    min-height: 1em; /* Make the empty lyric container visible. */
  }

  /* Make all lyric items relative to the container */
  .lyric-wrapcontainer {
    position:  relative;
  }

  .highlight {
    font-weight: bold;
    color: #ff8a00;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .yuanplayer-yuan-lyric {
    width: 90%;
  }
}