@import './material_symbols.css';

.yuanplayer-yuan-playlist {
  padding: 1em;

  .music-item-container {
    margin: 1rem auto;
    cursor: pointer;
    display: flex;
    gap: 1em;
    align-items: center;

    &:hover {
      outline: 1px dotted black;
    }

    .imgurl {
      width: 3rem;
      height: 3rem;
    }
  }

  .music-item-container.active {
    color: red;
  }

  .operation-container {
    display: flex;
    gap: 1em;
    border-top: 1px solid black;
    padding: .5rem 0;

    .material-symbols-outlined {
      cursor: pointer;

      &:hover {
        background-color: rgba(60,64,67,.04);
      }
    }
  }
}