<div class="yuanplayer-yuan-container">
  <div class="controls-row">
    <button class="play-icon"></button>
    <span class="time current-time">0:00</span>
    <input value="0" type="range" max="100" class="seek-slider">
    <span class="time duration">0:00</span>
  </div>
  <div class="controls-row">
      <output class="volume-out">100</output>
      <input value="100" type="range" max="100" class="volume-slider">
      <button class="mute-icon"></button>
  </div>
</div>