<div class="music-item-container">
  <% if (locals.track.poster) { %>
  <img class="imgurl" src="<%= locals.track.poster %>">
  <% } %>
  <span><%= locals.track.title %></span>
  <%= locals.track.artist %>
  <span class="material-symbols-outlined yuan-playlist-item-remove">
    playlist_remove
    </span>
</div>