.yuanplayer-bluemonday-lyric {
  box-sizing: border-box;
  margin-top: 0;
  text-align: center;
  height: 100px;
  overflow: hidden;
  padding-top: 50px;
  margin-left:  auto;
  margin-right: auto;
  background: #ccc;
  font-size: 14px;

  &.empty {
    height: auto;
    padding-top: 0;
  }

  div {
    margin-bottom: 5px;
    min-height: 1em; /* Make the empty lyric container visible. */
  }

  /* Make all lyric items relative to the container */
  .lyric-wrapcontainer {
    position:  relative;
  }

  .highlight {
    font-weight: bold;
    color: #0d88c1;
  }

  .yuanplayer-lyric-empty {
    display: none;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .yuanplayer-bluemonday-lyric {
  }
}