<div class="yuan-type-playlist">
  <div class="yuan-playlist">
    <% if (locals.tracks.length) { %>
    <ul style="display: block;">
      <% locals.tracks.forEach(function(track, index){ %>
        <li>
          <div>
            <a href="javascript:;" class="yuan-playlist-item-remove" style="display: none;">×</a>
            <a href="javascript:;" class="yuan-playlist-item" data-index="<%= index %>" data-trackid="<%= track.id %>" tabindex="0"><%= track.title %></a>
          </div>
        </li>
      <% }); %>
    </ul>
    <% } else { %>
      <div class="yuan-playlist-empty">The playlist is empty.</div>
    <% } %>
  </div>
</div>