  <div>
    <a href="javascript:;" class="yuan-playlist-item-remove" style="display: none;">×</a>
    <a href="javascript:;" data-index="<%= locals.index %>" data-trackid="<%= locals.track.id %>" tabindex="0"><%= locals.track.title %></a>
  </div>