<div class="yuan-video" role="application" aria-label="media player">
  <div class="yuan-gui yuan-interface flexbox-column flexbox-wrap flexbox-justify-content-space-between flexbox-align-items-center flexbox-align-content-center">
    <div class="yuan-progress">
      <div class="yuan-seek-bar" style="width: 100%;">
        <div class="yuan-play-bar" style="width: 0%;"></div>
      </div>
    </div>
    <div class="yuan-controls-row flexbox flexbox-justify-content-space-between flexbox-align-items-center flexbox-align-content-center">
      <div class="yuan-controls">
        <button class="yuan-previous" role="button" tabindex="0">previous</button>
        <button class="yuan-play" role="button" tabindex="0">play</button>
        <button class="yuan-next" role="button" tabindex="0">next</button>
      </div>
      <div class="yuan-volume-controls">
        <button class="yuan-mute" role="button" tabindex="0">mute</button>
        <div class="yuan-volume-bar">
          <div class="yuan-volume-bar-value"></div>
        </div>
        <button class="yuan-volume-max" role="button" tabindex="0">max volume</button>
      </div>
      <div class="yuan-toggles">
        <button class="yuan-repeat" role="button" tabindex="0">repeat</button>
        <button class="yuan-shuffle" role="button" tabindex="0">shuffle</button>
        <div class="cccontainer" style="position: relative; display: inline-block;">
          <div class="cclist" style="position: absolute; background: white; bottom: 0;"></div>
          <button class="yuan-closed-caption" role="button" tabindex="0">CC</button>
        </div>
        <button class="yuan-full-screen" role="button" tabindex="0">full screen</button>
        <div class="cccontainer" style="position: relative; display: inline-block;">
          <div class="qltlist" style="position: absolute; background: white; bottom: 0;"></div>
          <button class="yuan-high-quality" role="button" tabindex="0">Quality</button>
        </div>
        <div class="cccontainer" style="position: relative; display: inline-block;">
          <div class="speedlist" style="position: absolute; background: white; bottom: 0;"></div>
          <button class="yuan-playrate" role="button" tabindex="0">Speed</button>
        </div>
      </div>
      <div class="yuan-time-holder">
        <div class="yuan-current-time" role="timer" aria-label="time">00:00</div>
        <div class="yuan-duration" role="timer" aria-label="duration">00:00</div>
      </div>
    </div>
  </div>
  <div class="yuan-no-solution">
    <span>Update Required</span>
    To play the media you will need to update your browser to a recent version</a>.
  </div>
</div>