.playicon {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  body > div {
    padding: 0 !important;
  }
}

#radiocontainer .jp-progress,
#radiocontainer .jp-current-time,
#radiocontainer .jp-duration {
  display: none;
}