.yuanplayer-lyric-container {
  margin-top: 2em;
  border-radius: 5px;
  text-align: center;
  height: 100px;
  width: 60%;
  border: 1px solid blue;
  overflow: hidden;
  padding-top: 50px;
  margin-left:  auto;
  margin-right: auto;

  div {
    margin-bottom: 5px;
    min-height: 1em; /* Make the empty lyric container visible. */
  }

  /* Make all lyric items relative to the container */
  .lyric-wrapcontainer {
    position:  relative;
  }

  .highlight {
    font-weight: bold;
    color: red;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .yuanplayer-lyric-container {
    width: 90%;
  }
}